.navbar {
  display: flex;
  background-color: rgb(0, 0, 51);
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

.logo img {
  height: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  width: 100%;
}
.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 60vh;
  }
  .hero h1 {
    font-size: 22px;
  }
}

.hero {
  height: 80vh;
  width: 100%;

  background-image: url("https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/hero-cruise.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  position: relative;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 30px;
  font-size: 16px;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.discover {
  padding: 40px 20px;
  width: 100%;
  background-color: #f5f5f5;
}

.discover .heading h2 {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.discover .heading p {
  text-align: center;
  margin-bottom: 20px;
  color: #555;
  font-size: 16px;
}

.discover .popular h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.discover .pills {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.discover .pill {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.083) 0px 1px 2px 8px,
    rgba(68, 64, 67, 0.0815) 0px 1px 3px 1px;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, box-shoadow 0.3s ease;
}

.discover .pill img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
}

.discover .pill span {
  font-size: 14px;
  text-align: center;
}

/* hover effect */
.discover .pill:hover {
  transform: rotateY(-3px);
  box-shadow: rgba(60, 64, 67, 0.12) 0px 3px 6px 10px,
    rgba(68, 64, 67, 0.11) 0px 3px 6px 1px;
}

/* Discover Cards */
.discover .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.discover .card {
  cursor: pointer;
  box-shadow: rgba(60, 64, 67, 0.083) 0px 1px 2px 8px,
    rgba(68, 64, 67, 0.0815) 0px 1px 3px 1px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}
.discover .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discover .card span {
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

/* hover effect */
@media (max-width: 768px) {
  .discover .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .discover .cards {
    grid-template-columns: 1fr;
  }
  .discover .pills {
    flex-direction: column;
    gap: 10px;
  }
}

#contact {
  width: 100%;
  padding: 60px 20px;
  background-color: #f5f5f5;
}

#contact h3 {
  text-align: center;
  margin-bottom: 30px;
}
/* .contact_info{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
  } */
/* .contact_info{
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
  } */
.contact_info {
  max-width: 1823.39px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.contact_info div {
  max-width: 400px;
}

.contact_info h4 {
  margin-bottom: 10px;
}

.contact_info p {
  margin: 5px 0;
  white-space: nowrap;
}

footer {
  background: #0b132b;
  color: white;
  padding: 40px 20px 20px;
}

.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  text-align: left;
}

.footer_col h4 {
  color: orange;
  margin-bottom: 10px;
}

.footer_col p {
  margin: 6px 0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.footer_rights {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #444;
  font-size: 14px;
}

/* TABLET */
@media (max-width: 768px) {
  .footer_container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}

/* .contact-box{
    background-color: #fff;
    border: 1px solid #cfcfcf;
    padding: 25px;
    width:100%;
    max-width: 450px;
    text-align: center;
  } */

.contact-box {
  flex: 1;
  border: 1px solid #cfcfcf;
  padding: 20px;
  text-align: center;
  background-color: #f7f7f7;
}
.contact-box p {
  white-space: nowrap;
  font-size: 13px;
  line-height: nowrap;
}
.contact-heading {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

.contact-heading::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: orange;
  margin: 10px auto 0;
}

@media (max-width: 769px) {
  .contact_info {
    flex-direction: column;
    align-items: center;
  }
}
