.button {
  background: oklch(
    70% 0.26 65
  ); /*OKLCH color model – explained simply

  OKLCH is a modern color model in CSS that describes colors in a way that is more natural to human vision.
  
  It stands for:
  
  O → Perceptual (based on how humans see color)
  
  L → Lightness (how light or dark the color is)
  
  C → Chroma (how strong or vivid the color is)
  
  H → Hue (the color type: red, green, blue, etc.)*/

  color: #ffff; /*sets the text color to white*/
  cursor: url(https://assets.codepen.io/9632/cursor-hand.svg), auto;
  /* CSS property that controls how the mouse pointer looks. */
  display: inline-flex;
  /* Makes the button an inline element with flexbox behavior.

Allows easy alignment of text/icons inside the button. */
  font-family: system-ui;
  /* font-family: system-ui;

Uses the system’s default UI font (Windows, macOS, Android, etc.).

Makes text look natural on all devices. */
  font-size: 1.35rem;
  /* font-size: 1.35rem;

Sets text size relative to the root font size.

Slightly larger than normal text. */
  padding: 1lh;
  /* line-height unit */
  /* button scales” means:

If the text size increases, the button becomes bigger

If the text size decreases, the button becomes smaller */
  text-decoration: none;
  /* Removes underline */

  &:hover {
    /* :hover is a CSS pseudo-class.

It applies styles when the mouse pointer is over an element. */
    background: oklch(60% 0.26 65);
    /* What does &:hover mean?

In SCSS / SASS syntax, & refers to the parent selector. */
    border-radius: 12px;

    /* Rounds the corners of the button.
Makes it look smooth and modern. */
  }
}

@layer base {
  /* Used to define base styles with CSS layers. */
  /* CSS can have conflicting rules. @layer helps prioritize which styles win without relying on !important. */
  body {
    /* styles the hole page */
    display: grid;
    /* Uses CSS Grid layout. */
    place-items: center;
    /* Centers content horizontally and vertically. */
    height: 100dvh;
    /* height: 100dvh; makes an element fill 100% of the current visible screen height, adapting dynamically to mobile browsers. */
  }
}

/*.button {
  cursor: url(custom-cursor.svg) 16 16, auto;
}

 With hotspot → You tell the browser “click exactly here”

Without hotspot → Browser decides “I’ll guess where to click” */
